/* CSS declarations go here */
body {
  padding: 0;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #fff;
}

li {
  list-style: none;
}

h1, ul, li {
  text-align: center;
}

ul {
  padding: 0;
}

.selected {
  background-color: yellow;
}

.notice {
  background-color: rgba(46, 204, 113,0.6);
  color: white;
  font-weight: bold;
  text-align: center;
}

li .add-points {
  float: right;
}

.hide {
  display: none;
}
